
@mixin btn($bgColor,$BgHoverColor,$color,$colorHover : $color){
    padding : 0.75em;
    background-color : $bgColor;
    border-radius : 100px;
    margin-bottom : 2em;
    color : $color;
    font-weight: 800;
    transition: transform 0.5s, background-color 1.5s;
    padding-right : 2.5em;
    padding-left : 2.5em;
    font-family: $a_font;
    font-size: $a_size_font;
    &:hover{
        background-color:$BgHoverColor;
        transform: scale(1.15);
        transition: transform 0.5s, background-color 1.5s;
        color : $colorHover;
    }

}
