@mixin header($Bg-color-header,$color-header){
    padding-top : 5vh;
    background-color : $Bg-color-header;
    background-image: url(../img/header.jpg);//TODO faire le cas ou la resolution est trop grande et que l'on voi les pixels
    background-repeat : no-repeat;
    background-size: cover;
    background-position:center ;
    color : $color-header;
    min-height: 100vh;
    
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    & a{
        @include btn($couleur_principal1,$couleur_principal1_nuance,$couleur_secondaire);
    }
    & hr{
        @include hr($couleur_principal1);
    }
    & > div{
        display: flex;
        flex-direction: row!important;
        align-items: center;
    }
    & > div > img{
        padding-right: 3%;
        border-radius : 100%;
        height : 100px;
        width : 100px;
        transition : all 1s;
    }
    & > div > img:hover{
        transition : all 1s;
        transform: scale(1.5);
    }
}
.jsWarning{
    display : none;
}
