// CSS sheet where this style will only be applied if javascript is disactivated
//TODO Inserer les couleurs et mesures dans le fichier variables
.jsWarning {
    display: initial!important;
    color: white;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
    padding: 2%;
    position: fixed;
    z-index: 10;
    animation: jsWarn 0.5s 5s;
    p {
        margin: 0;
    }

    h2 {
        margin: 0;
        font-family: "Nunito Medium";
    }
}

.portFolio {
    .menuPortFolio {
        display: none !important;
    }

    .portFolioContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);

        &>div {
            position: relative !important;
        }
        div{
            z-index : 0;
        }

    }
}

.slides {
    height: inherit;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    & > img{
        justify-self: normal;
        align-self: revert;
    }
    & > div {
        display: flex !important;
        opacity: 1 !important;
        visibility: initial;
        width: 90%;
        height: 30vh;
        min-height: 400px;
        margin-top : 10%;
    }
    .active{
        z-index : 0;
        margin-right : 0!important;
        margin-left : 0!important;
    }
}

.rightArrow,
.leftArrow {
    display: none !important;
}
nav{
    .nav{
        position : fixed;
        top : 0;
        left : 90vw;
        z-index : 1;
        width : 50vw;
        background-color : rgba($color: #000000, $alpha: 0.92);
        opacity: 1;
        animation: none;
        transition: all 2s;
    }
    .nav:hover{
        top : 0;
        left : 50vw;
        background-color : rgba($color: #000000, $alpha: 0.800);
    }
    #navigationButton{
        pointer-events: none;
    }   
    & > span > div{
        display: none;
    }
}

@media screen and (max-width : 950px) {
    .portFolio .portFolioContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .slides{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 630px) {
    .portFolio .portFolioContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .slides{
        grid-template-columns: repeat(1, 1fr);
    }
}
@keyframes jsWarn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}