//TODO Inserer les couleurs et mesures dans le fichier variables
//TODO Mettre le fichier sous forme de fct

.loading{
  position : fixed;
  top : 40vh;
  left : 40vw;
  height : 10vh;
  width : 20vw;
  background-color: $section4_Var3;
  display : flex;
  align-items: center;
  justify-content: center;
  border-radius : 300px;
  &>span {
    z-index : 100;
    background-color: $loading_background-color;
    height: $loading_height;
    width: $loading_width;
    margin: $loading_margin;

    border-radius: 100%;
    display: block;

    &:first-child {
      animation: loading 1s 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &:nth-child(2) {
      animation: loading 1s .5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &:last-child {
      animation: loading 1s 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
@keyframes loading {
  from {
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}