//Menu en partie optimmisé :
// animation -> fait
// cssTrigger -> non fait
//TODO Optimisation cssTrigger


@mixin menu($menu_bg_color,$navbar_bg_color,$nav_title_color,$a_color,$Croix_bg_color_quit,$Croix_bg_color,$secondary_a_color) {
    //menu_bg_color -> couleur bg du menu
    //navbar_bg_color ->couleur de la navbar fixé qui contient le btn pour acceder au menu
    //a_color -> color de A
    //croix_bg_color_quit -> couleur bg de la croix
    //croix_bg_color -> couleur bg du menu burger
    nav {
        animation: menuAnim 0.5s 5s;
        z-index : 100;
//------------------------------------Menu actif-------------------------------------- -> Il est caché de base, et sera donné comme actif avec le js
        #nav {
            //z-index: -120; // cache le menu superieur
            top: -100vh; //le cache au dessus
//--> Concerne que la fenetre du menu
            position: fixed;
            background-color: $menu_bg_color; 
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            animation: navIn 2s;
            opacity: 0;
            
//--> Concerne l'interieur du menu
            h3 {
                font-family: $h3_font;
                font-size: $h3_size_font;
                color: $nav_title_color;
                text-transform: uppercase;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 1em;
                    color: $a_color;
                    a {
                        text-decoration: none;
                        height: 40px;
                        padding-left: 20px;
                        padding-right: 20px;
                        display: inline-block;
                        border-radius: 10px;
                        text-transform: capitalize;
                        color: $a_color;
                        font-family: $a_font;
                        font-size:$a_size_font;
                        animation : colorIn 0.5s; // transition out A on color

                    }
                    
                    
                    a:hover{
                        color : $secondary_a_color;
                        animation : colorOut 0.5s; //transition in A on color
                    }
                    
                }
            }
        }
        
//------------------------------------Icone menu burger--------------------------------------
        /*
        Only usefull with the function "swipetitle"
        .showHeader{
            background-color: rgba($navbar_bg_color,1);
            animation : showHeader 1s;
        }
        @keyframes showHeader{
            from{
                background-color: rgba($navbar_bg_color,0);
            }
            to{
                background-color: rgba($navbar_bg_color,1);
            }
        }*/
        span {
            display : flex;
            justify-content: center;
            //-->Position et creation de la barre blanche
            transition : all 1s;
            position: fixed;
            height: 11vh;
            background-color: rgba($navbar_bg_color,0);
            width: 5vw;
            left : 95vw;
            min-height: 30px;
            z-index: 101;
            h1{
                align-self:center;
                margin:0;
            }
            a{
                cursor: pointer;
            }
            div {
                //--> Creation et position de la barre centrale
                & {
                    height: 2px;
                    width: 18px;
                    position: absolute;
                    top: 5vh;
                    right: 30px;
                    border-style: solid;
                    border-radius: 20px;
                    border-width: 0px;
                    animation: croixInNeut 0.5s;
                    margin-left: 4em;
                    background-color: $Croix_bg_color;
                }
                
                //--> Creation et position de la barre exterieur
                &::before {
                    height: 2px;
                    background-color: $Croix_bg_color;
                    width: 18px;
                    display: block;
                    content: "";
                    position: relative;
                    bottom: 5px;
                    border-style: solid;
                    border-radius: 20px;
                    border-width: 0px;
                    animation: croixInPlus 0.5s;
                }
                
                //--> Creation et position de la barre exterieur
                &::after {
                    height: 2px;
                    background-color: $Croix_bg_color;
                    width: 18px;
                    display: block;
                    content: "";
                    position: relative;
                    top: 3px;
                    border-style: solid;
                    border-radius: 20px;
                    border-width: 0px;
                    animation: croixInMoins 0.5s;
                }
                
            }
            //--> creation du lien permettant de cliquer
            a {
                height: 77px;
                opacity : 0;
                top: 0;
                z-index: 1;
                width: 85px;
                margin-left: -7px;
                right: 10px;
                display: inline-block;
                position: absolute;
                margin-left: 4em;
            }
        }
    }
    //classe activé par le js
    .navActive {
        
        //--> affiche le menu
        #nav {
            opacity: 1;
            z-index: 100;
            top: 0;
            animation: navOut 0.5s;
        }
        
        //-->cache la barre blanche
        span {
            background-color: rgba(#000000,0);;
        }
        //transition: all 1s;

        span div {

            //transition: all 1s;
            //--> on forme la croix avec les pseudo-elements
            &::before {
                transform: rotate(45deg);
                display: block;
                transform-origin: center;
                bottom: 9px;
                animation: croixOutPlus 0.5s;
                background-color: $Croix_bg_color_quit;
            }
            
            //--> on forme la croix avec les pseudo-elements
            &::after {
                transform: rotate(-45deg);
                display: block;
                transform-origin: center;
                top: -11px;
                animation: croixOutMoins 2s;
                background-color: $Croix_bg_color_quit;
            }
            
            &{
                background-color: rgba($Croix_bg_color_quit,0);
                transition : all 2s;
                border-radius : 20px;
            }
        }
    }
    //-->rectifie la zone d'action pour quitter
    .navBtnActive {
        height: 40px;
        top: 1vh;
    }

    //--> media queries par rapport a la zone d'action pour develloper ou quitter le menu
    @media screen and (max-height:260px) {
        nav span {
            a {
                top: 2.75px;
                width: 56px;
                height: 33px;
            }

            div {
                top: 13.8px !important;
            }
        }
    }
    @keyframes navIn{
        from{
            opacity: 1;
            z-index : 10;
            top: 0;
        }
        to{
            opacity: 0;
            //z-index : -120;
            //transform: translateY(-120vh);
        }
    }
    @keyframes navOut{
        from{
            opacity: 0;
            top: -120vh;

        }
        to{
            //opacity: 1;
            //z-index : 999;
            //top: 0;
        }
    }
    @keyframes colorIn{
        from{
            color: $secondary_a_color;
        }
        to{
            //color: $a_color;
        }
    }
    @keyframes colorOut{
        from{
            color: $a_color;
        }
        to{
            //color: $secondary_a_color;
        }
    }
    @keyframes croixInNeut{
        from{
            background-color: $Croix_bg_color_quit;
        }
        to{
            background-color: $Croix_bg_color;
        }
    }
    @keyframes croixInPlus{
        from{
            transform: rotate(45deg);
            background-color: $Croix_bg_color_quit;
        }
        to{
            transform: rotate(0deg);
            background-color: $Croix_bg_color;
        }
    }
    @keyframes croixInMoins{
        from{
            transform: rotate(-45deg);
            background-color: $Croix_bg_color_quit;
        }
        to{
            transform: rotate(0deg);
            background-color: $Croix_bg_color;
        }
    }
    @keyframes croixOutPlus{
        from{
            transform: rotate(0deg);
            background-color: $Croix_bg_color;
        }
        to{
            transform: rotate(45deg);
            background-color: $Croix_bg_color_quit;
        }
    }
    @keyframes croixOutMoins{
        from{
            transform: rotate(0deg);
            background-color: $Croix_bg_color;
        }
        to{
            transform: rotate(-45deg);
            background-color: $Croix_bg_color_quit;
        }
    }
    @keyframes menuAnim{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}

