@mixin section ($color1,$color2,$color3,$BtnBgColor,$BtnBgHoverColor,$BtnColor,$HrBgColor){
    //color 1 -> bg color de la section
    //color 2 -> couleur de texte de h2
    //color 3 -> couleur de texte de p
    //BtnBgColor -> bg color du bouton
    //BtnBgHoverColor -> bg color du bouton en hover
    //BtnColor ->  couleur de texte de A
    //HrBgColor -> bg color de hr
    display : flex;
    flex-direction : column;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: $color1 ;
    padding: 7em 1em;
    justify-content: center;
    min-height : 40vh;
    & p{
        color : $color3!important;
    }
    & img{
       // margin-bottom: 3em;
        max-width: 100VW;
    }
    & h2{
        @include h2($h2_font,$h2_size_font);
        font-weight: 400;
        color: $color2;
    }
    & a, .a{
        @include btn($BtnBgColor,$BtnBgHoverColor,$BtnColor);
    }

    & hr{
        @include hr($HrBgColor);
    }
    hr.light{
        margin-top : 3em;
        width : 60%;
        border-bottom-width: 2px;
    }
    .colItem{
        @include colItem($BtnBgHoverColor);
        a{
            color : $color2;
            transition : all .5s;
        }
    }
    .st0{
        fill : $color3;
    }
    .horizontal{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        flex-direction: row!important;
        //margin : 3vw;
        width : 100%;
        img{
            width : 14%;
            height : 10%;
        }
    }
    .horizontal img{
        border-radius : 100%;
    }
    .btnLight{
        @include btn(rgba(0,0,0,0),rgba(0,0,0,0),$BtnColor)
    }
    @media screen and (max-width: 800px) {
        padding : 7em 0;
    }
    @for $i from 0 through $nbStars{
        .star-#{$i}{
            span svg{
                margin-right :0;
                fill : $color3;
            }
            @for $e from 1 through $i {
                span svg:nth-child(#{$e}){
                    fill : $color2;
                }
            }
        }
    }
}

@mixin colItem($BtnBgHoverColor) {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    width : 80%;
    div{
        text-align: start;
        div{
            align-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
        }
        p{
            margin : 0;
        }
    }
    div:first-child{
        width : 29%;
    }
    div:last-child{
        width: 50%;
        div{
            margin : 0;
            margin-top : 1em;
        }
    }
    p,h4,h5{
        margin: 0em;
        //margin-bottom: 1em;
        text-align: start;
    }
    h4{
        font-family: "Nunito Bold";
    }
    h5{
        font-family: "Nunito Medium";
        max-width: 80%;
        margin-bottom: 0;
    }
    svg{
        width : 5%;
        margin-right : 2vw;  
    }
    a{
        background-color : rgba($color: #000000, $alpha: 0);
        margin : 0;
        padding: 0;
    }
    a:hover{
        color : $BtnBgHoverColor;
    }
    @media screen and (max-width: 800px) {
        width : 100%;
        div{
            margin-left : 0;
        }
        div:last-child{
            width : 65%;
        }
        h5{
            max-width: 100%;
        }
    }

}



