//TODO Inserer les variables dans le fichier var
//TODO Responsive poppup sur telephone, cf Samsung A8

$hauteur:225px;
$hauteurSmall : 150px;
$hauteurSmall2:100px;

.portFolio{
    font-family: "Nunito Light";
    .menuPortFolio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        a{
            margin-top : 1em;
            margin-bottom: 1em;
            margin-left : 0.5em;
            text-transform: uppercase;  
            cursor: pointer;
        }

    }
    .portFolioContainer{
        transition: all 1s;
        div{
            width : 19rem;
            position: absolute;
            display : flex;
            justify-content : center;
            background: white;
            height : $hauteur;
            border-radius : 10px;
            transition: all 1s;
            div img.case{
                align-self: center;
                max-height : $hauteur; 
                max-width : 17rem;
                margin-top : auto;
                margin-bottom : auto;
                display : inline-flex;
                vertical-align: middle;
                justify-content: center ;
            }
            div.case{
                z-index: 1;
                opacity:0;
                margin : 0;
                background-color :rgba(240, 95, 64, 0.9) ;
                position : absolute;
                display : flex;
                flex-direction: column;
                justify-content: space-evenly;
                & h6{
                    margin:0;
                    text-transform: uppercase;
                }
                & h4{
                    text-transform: capitalize;
                    margin : 0;
                }
                color : rgba(255, 255, 255, 0.7);
                transition : all 0.5s;
            } 
            &:hover{
                div{
                    opacity:1!important;
                    transition : all;
                    pointer-events: painted;
                    transition : all 0.5s;
                }
            } 
             
        }
    }
}

.hidden{
    //display : none!important; // probleme : pas d'animation
    //left : -19rem!important;  // probleme : animation pas cool
    animation: disappear 0.5s;
    transform: scale(0);
    opacity : 0;
    div{
        opacity: 0;
        background-color : rgba(0,0,0,0);
    }
    img{
        opacity : 0;

    }
}
.activeBtn{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-color: #EB5235!important ;
}

@keyframes disappear{
    0%{
        transform : scale(1);
        opacity : 1;
    }
    99%{
        transform : scale(0);
        opacity: 0;
    }
    100%{
        display: none!important;
    }
}

#portfolioSpan{
    opacity: 1;
    z-index : 999;
    position : fixed;
    top : 0;
    left : 0;
    height : 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.725);
    overflow: hidden!important;
    h1{
        color : #F05F40;
        margin : 0;
    }
    img{
        height: 30vh;
        margin : 0;
        border-radius : 15px;
    }
    p{
        margin : 1em;
        color : black!important;
    }
    a{
        background-color : #F05F40;
    }
    a:hover{
        background-color : #ed431f;
    }
    &>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
            &>  div{
                max-height: 80vh;
                max-width : 90%;
                padding : 1rem;
                display : flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items : center;
                justify-content : space-evenly;
                background-color : white;
                border-radius : 8px;
                div{
                    display : flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items : center;
                    justify-content : space-evenly;
                    flex-direction: row;
                    margin-bottom : 1em; 
                }
                div:first-child{
                    margin-right: 1em;
                }
                div:last-child{
                    margin-left : 1em;
                }
            }
    }
}