//TODO optimiser les animmations a chaques slides
$height:300px;
$width:95%;
$padding-top:3em;
$padding-bot:3em;

@mixin active(){
    /*automaticly set to right*/
    //min-height : 100%!important;
    animation: activeAnimationR 1s;
    display : initial!important;
    visibility: initial;
    opacity : 1;
    margin-left : 15%!important;
    margin-right : 15%!important;
    z-index: 2;
    width : 50vw;
    padding : 2em 0 2em 0;
    div{
        display: flex!important;
        margin-bottom: 5%;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
    img{
        height : 50px;
        display : initial;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}


.slides{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top :$padding-top;
    padding-bottom :$padding-bot;
    width : $width;
    align-items: center;
    max-width : $width;
    height: $height;
    & img{
        height : 0;
        margin: 0;
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
    }
    .fromActiveToHidL{
        animation : leaveAnimationL 1s!important;
        position : absolute;
        @include active();
    }
    .fromActiveToHidR{
        animation : leaveAnimationR 1s!important;
        position : absolute;
        @include active();
    }
    .activeL{
        /*transition set to left*/
        animation : activeAnimationL 1s!important;
        @include active();
    }
    .activeR{
        @include active();
    }
    div.activeR, div.activeL{
        display : flex!important;
    }
    & > div{
        display : none!important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //height : 100%;
        //visibility: collapse;
        opacity : 0;
        background-color: white;
        border-radius : 10px;
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
        div{
            display : flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            justify-content: center;
            height : 40px!important;
            opacity : 1;
            visibility: initial;
            padding-left : 10px;
            padding-right : 10px;
            img{
                max-height : 50px;
                height : 50px!important;
                padding : 0;
                visibility: initial;
                margin: 0 30px 0 0;
            }
            h3{
                text-align: center;
                margin : 0;
                padding : 0;
            }
        }
        p{
            @include para(#222222,$p_font,$p_size_font);
            max-width : 90%;
        }
        h3{
            @include h3($couleur_tertaire);
        }       
    }
}
@keyframes leaveAnimationR{
    0%{
        translate : 30vw;
    }
    100%{
        translate : 50vw;
        opacity : 0;
    }
}

@keyframes leaveAnimationL{
    0%{
        translate : -30vw;
    }
    100%{
        translate : -50vw;
        opacity : 0;
    }
}

@keyframes activeAnimationR{
    0%{
        display : initial;
        transform: translateX(-20vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes activeAnimationL{
    0%{
        display : initial;
        transform: translateX(+20vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes growlessAnimation{
    0%{
        display : initial;
        height : 0;
        transform : scale(0);
    }
    100%{
        transform: scale(0.7);
    }
}
@media screen and (min-width : 1070px){
    .slides{
        .active{
            margin-left : 15%!important;
            margin-right : 15%!important;
        }
    }
}
@media screen and (max-width : 800px){
    .slides{
        max-width: 100%;
        .active{
            transform: scale(0.7);
            max-width : 80%;
            animation: growlessAnimation 1s;
            margin-left : 0.5em!important;
            margin-right : 0.5em!important;
        }
        & div {
            height : auto;
            div {
                margin : 0;
                img{
                    display : none!important;
                }
            }
        }
        p{
            margin-bottom: 0;
        }
    }
}


@mixin Arrow($orientation, $coloration){
    &{
        background-color : rgba($color: #000000, $alpha: 0)!important;
        border-radius : 50px;
        width : 10px;
        height : 40px;
        margin : 0!important;
        padding-top :3em !important;
        padding-bottom:2em !important;
        padding-left: 2em!important;
        padding-right: 2em!important;
    }
    &:hover{
        background-color : rgba($color: #000000, $alpha: 0)!important;
    }
    &::after{
        content : "";
        position : relative;
        border-radius : 50px;
        display : block;
        height : 15px;
        width : 80px;
        background-color : rgba($color: $coloration, $alpha: 1);
        top : 13px;
        right : 30px;
        @if ($orientation=="left"){
            transform : rotate(45deg);
        }@else{
            transform : rotate(-45deg);
        }
    }
    &::before{
        content : "";
        position : relative;
        border-radius : 50px;
        display : block;
        height : 15px;
        width : 80px;
        background-color : rgba($color: $coloration, $alpha: 1);
        top : -18px;
        right : 30px;
        @if ($orientation=="left"){
            transform : rotate(-45deg);
        }@else{
            transform : rotate(45deg);
        }
    }
    @media screen and (max-width : 800px){
        transform: scale(0.5);
        &:hover{
            transform : scale(0.75)!important;
        }
    }
}

