@mixin p($color,$font,$size,$marginBot,$width){
    p{
        margin-bottom : $marginBot;
        color : $color;
        //text-align: center;
        max-width: $width;
        transition : all 0.5s;
        font-size: $size;
        font-family: $font;
    }
    @media screen and (max-width: 600px){
        p{
            max-width : 100vw;
            transition : all 0.5s;
        }
    }
}
@mixin para($color,$font,$size){
    color : $color!important;
    text-align: center;
    transition : all 0.5s;
    font-size: $size;
    font-family: $font;
}


@mixin hr($color){
    border-top-width: 0;
    border-bottom-width: 5px;
    border-left-width: 0;
    border-right-width: 0;
    width : 20%;
    color : $color;
    border-color: $color;
}

@mixin h1($font,$size){
    margin-top : 0;
    text-transform:uppercase;
    font-family: $font;
    font-size : $size;
    text-align: center;
    transition : all 1s;
}
@mixin h2($font,$size){
    font-family: $font;
    font-size : $size;
    margin-top : 0;
}
@mixin h3($color) {
    font-family: $h3_font;
    font-size: $h3_size_font;
    color: $color;
    text-transform: uppercase;

}
.hidd{
    font-size : 0;
    transform: scale(0.0);
    transition: all 1s;
}
.show{
    font-size : 2em;
    transform : scale(1);
    transition: all 1s;
}
