$couleur_principal1:#d95019;
$couleur_principal1_nuance : #f05619;
$couleur_secondaire : white;
$couleur_secondaire_nuance1: #f2f2f2;
$couleur_secondaire_nuance2: #cfcfcf;
$couleur_tertaire:#222222;

$unused : #0000;
$nbStars : 5;


$section1_Var1:$couleur_principal1;
$section1_Var2:$couleur_secondaire;
$section1_Var3:rgba($couleur_secondaire_nuance1, 0.7);
$section1_Var4:$couleur_secondaire_nuance1;
$section1_Var5:$couleur_secondaire_nuance2;
$section1_Var6:$couleur_tertaire;
$section1_Var7:$couleur_secondaire;
$section1_varR:$couleur_secondaire_nuance2;
$section1_varL:$couleur_secondaire_nuance2;

$section2_Var1:$couleur_secondaire;
$section2_Var2:$couleur_tertaire;
$section2_Var3:$couleur_tertaire;
$section2_Var4:$couleur_principal1_nuance;
$section2_Var5:$couleur_principal1;
$section2_Var6:$couleur_secondaire_nuance1;
$section2_Var7:$couleur_principal1;
$section2_varR:$couleur_principal1;
$section2_varL:$couleur_principal1;

$section3_Var1:$couleur_tertaire;
$section3_Var2:$couleur_secondaire;
$section3_Var3:$couleur_secondaire_nuance1;//--Unused
$section3_Var4:$couleur_secondaire_nuance1;
$section3_Var5:$couleur_secondaire_nuance2;
$section3_Var6:$couleur_tertaire;
$section3_Var7:$couleur_secondaire;
$section3_varR:$couleur_secondaire_nuance1;
$section3_varL:$couleur_secondaire_nuance1;

$section4_Var1:$couleur_secondaire;
$section4_Var2:$couleur_tertaire;
$section4_Var3:rgba($couleur_tertaire, 0.7);
$section4_Var4:$couleur_principal1;
$section4_Var5:$couleur_principal1_nuance;
$section4_Var6:$couleur_secondaire_nuance1;
$section4_Var7:$couleur_principal1;
$section4_varR:$couleur_tertaire;
$section4_varL:$couleur_tertaire;

$Btn-color : $couleur_tertaire;
$Btn-bg-color : $couleur_secondaire_nuance1;
$Btn-bg-hover-color : $couleur_secondaire_nuance2;

$Btn-color-inv : $couleur_secondaire_nuance1;
$Btn-bg-color-inv :$couleur_principal1 ;
$Btn-bg-hover-color-inv : $couleur_principal1_nuance;

$Header_bg_color : $couleur_principal1;
$Header_color : $couleur_secondaire;

$p_color : rgba($couleur_secondaire_nuance1, 0.7);
$hr_color : $couleur_secondaire;
$hr_color_Inv : $couleur_principal1;

$h1_font : 'Nunito Bold', sans-serif;
$h2_font : 'Nunito Medium', sans-serif;
$p_font : 'Nunito Light', sans-serif;
$a_font : 'Nunito Medium', sans-serif;

$h1_size_font : 2em;
$h2_size_font : 1.5em;
$p_size_font : 0.8em;
$a_size_font : 1em;

$p_margin_bottom : 3em;
$p_max_width : 70vw;


//--------------nav------------------

$Croix_bg_color : black;
$Croix_bg_color_quit :white;
$menu_bg_color :rgba(0, 0, 0, 0.911);
$a_color : white;
$secondary_a_color : #dfad0b;
$navbar_bg_color : white;
$nav_title_color : $couleur_principal1;

$h3_size_font : 1.25em;
$h3_font : 'Nunito Medium', sans-serif;

//--------------loading------------------

$loading_height : 25px;
$loading_width: 25px;
$loading_margin : 5px;
$loading_background-color : white;