@font-face {
  font-family: "Nunito Light";
  font-display: swap;
  src: url("../font/Nunito/Nunito-Light.ttf?v=1.4.57");
}

@font-face {
  font-family: "Nunito Medium";
  font-display: swap;
  src: url("../font/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito Bold";
  font-display: swap;
  src: url("../font/Nunito/Nunito-Bold.ttf");
}

.jsWarning {
  display: none;
}

.hidd {
  font-size: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.show {
  font-size: 2em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slides {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
  height: 300px;
}

.slides img {
  height: 0;
  margin: 0;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
}

.slides .fromActiveToHidL {
  -webkit-animation: leaveAnimationL 1s !important;
          animation: leaveAnimationL 1s !important;
  position: absolute;
  /*automaticly set to right*/
  -webkit-animation: activeAnimationR 1s;
          animation: activeAnimationR 1s;
  display: initial !important;
  visibility: initial;
  opacity: 1;
  margin-left: 15% !important;
  margin-right: 15% !important;
  z-index: 2;
  width: 50vw;
  padding: 2em 0 2em 0;
}

.slides .fromActiveToHidL div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .fromActiveToHidL img {
  height: 50px;
  display: initial;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .fromActiveToHidR {
  -webkit-animation: leaveAnimationR 1s !important;
          animation: leaveAnimationR 1s !important;
  position: absolute;
  /*automaticly set to right*/
  -webkit-animation: activeAnimationR 1s;
          animation: activeAnimationR 1s;
  display: initial !important;
  visibility: initial;
  opacity: 1;
  margin-left: 15% !important;
  margin-right: 15% !important;
  z-index: 2;
  width: 50vw;
  padding: 2em 0 2em 0;
}

.slides .fromActiveToHidR div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .fromActiveToHidR img {
  height: 50px;
  display: initial;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .activeL {
  /*transition set to left*/
  -webkit-animation: activeAnimationL 1s !important;
          animation: activeAnimationL 1s !important;
  /*automaticly set to right*/
  -webkit-animation: activeAnimationR 1s;
          animation: activeAnimationR 1s;
  display: initial !important;
  visibility: initial;
  opacity: 1;
  margin-left: 15% !important;
  margin-right: 15% !important;
  z-index: 2;
  width: 50vw;
  padding: 2em 0 2em 0;
}

.slides .activeL div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .activeL img {
  height: 50px;
  display: initial;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .activeR {
  /*automaticly set to right*/
  -webkit-animation: activeAnimationR 1s;
          animation: activeAnimationR 1s;
  display: initial !important;
  visibility: initial;
  opacity: 1;
  margin-left: 15% !important;
  margin-right: 15% !important;
  z-index: 2;
  width: 50vw;
  padding: 2em 0 2em 0;
}

.slides .activeR div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides .activeR img {
  height: 50px;
  display: initial;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slides div.activeR, .slides div.activeL {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slides > div {
  display: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
}

.slides > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px !important;
  opacity: 1;
  visibility: initial;
  padding-left: 10px;
  padding-right: 10px;
}

.slides > div div img {
  max-height: 50px;
  height: 50px !important;
  padding: 0;
  visibility: initial;
  margin: 0 30px 0 0;
}

.slides > div div h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.slides > div p {
  color: #222222 !important;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 0.8em;
  font-family: "Nunito Light", sans-serif;
  max-width: 90%;
}

.slides > div h3 {
  font-family: "Nunito Medium", sans-serif;
  font-size: 1.25em;
  color: #222222;
  text-transform: uppercase;
}

@-webkit-keyframes leaveAnimationR {
  0% {
    translate: 30vw;
  }
  100% {
    translate: 50vw;
    opacity: 0;
  }
}

@keyframes leaveAnimationR {
  0% {
    translate: 30vw;
  }
  100% {
    translate: 50vw;
    opacity: 0;
  }
}

@-webkit-keyframes leaveAnimationL {
  0% {
    translate: -30vw;
  }
  100% {
    translate: -50vw;
    opacity: 0;
  }
}

@keyframes leaveAnimationL {
  0% {
    translate: -30vw;
  }
  100% {
    translate: -50vw;
    opacity: 0;
  }
}

@-webkit-keyframes activeAnimationR {
  0% {
    display: initial;
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes activeAnimationR {
  0% {
    display: initial;
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes activeAnimationL {
  0% {
    display: initial;
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes activeAnimationL {
  0% {
    display: initial;
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes growlessAnimation {
  0% {
    display: initial;
    height: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes growlessAnimation {
  0% {
    display: initial;
    height: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (min-width: 1070px) {
  .slides .active {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
}

@media screen and (max-width: 800px) {
  .slides {
    max-width: 100%;
  }
  .slides .active {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    max-width: 80%;
    -webkit-animation: growlessAnimation 1s;
            animation: growlessAnimation 1s;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }
  .slides div {
    height: auto;
  }
  .slides div div {
    margin: 0;
  }
  .slides div div img {
    display: none !important;
  }
  .slides p {
    margin-bottom: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

body p {
  margin-bottom: 3em;
  color: rgba(242, 242, 242, 0.7);
  max-width: 70vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 0.8em;
  font-family: "Nunito Light", sans-serif;
}

@media screen and (max-width: 600px) {
  body p {
    max-width: 100vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

body nav {
  -webkit-animation: menuAnim 0.5s 5s;
          animation: menuAnim 0.5s 5s;
  z-index: 100;
  /*
        Only usefull with the function "swipetitle"
        .showHeader{
            background-color: rgba($navbar_bg_color,1);
            animation : showHeader 1s;
        }
        @keyframes showHeader{
            from{
                background-color: rgba($navbar_bg_color,0);
            }
            to{
                background-color: rgba($navbar_bg_color,1);
            }
        }*/
}

body nav #nav {
  top: -100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.911);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: navIn 2s;
          animation: navIn 2s;
  opacity: 0;
}

body nav #nav h3 {
  font-family: "Nunito Medium", sans-serif;
  font-size: 1.25em;
  color: #d95019;
  text-transform: uppercase;
}

body nav #nav ul {
  list-style: none;
  padding: 0;
}

body nav #nav ul li {
  margin-bottom: 1em;
  color: white;
}

body nav #nav ul li a {
  text-decoration: none;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  border-radius: 10px;
  text-transform: capitalize;
  color: white;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
  -webkit-animation: colorIn 0.5s;
          animation: colorIn 0.5s;
}

body nav #nav ul li a:hover {
  color: #dfad0b;
  -webkit-animation: colorOut 0.5s;
          animation: colorOut 0.5s;
}

body nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: fixed;
  height: 11vh;
  background-color: rgba(255, 255, 255, 0);
  width: 5vw;
  left: 95vw;
  min-height: 30px;
  z-index: 101;
}

body nav span h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

body nav span a {
  cursor: pointer;
}

body nav span div {
  height: 2px;
  width: 18px;
  position: absolute;
  top: 5vh;
  right: 30px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0px;
  -webkit-animation: croixInNeut 0.5s;
          animation: croixInNeut 0.5s;
  margin-left: 4em;
  background-color: black;
}

body nav span div::before {
  height: 2px;
  background-color: black;
  width: 18px;
  display: block;
  content: "";
  position: relative;
  bottom: 5px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0px;
  -webkit-animation: croixInPlus 0.5s;
          animation: croixInPlus 0.5s;
}

body nav span div::after {
  height: 2px;
  background-color: black;
  width: 18px;
  display: block;
  content: "";
  position: relative;
  top: 3px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0px;
  -webkit-animation: croixInMoins 0.5s;
          animation: croixInMoins 0.5s;
}

body nav span a {
  height: 77px;
  opacity: 0;
  top: 0;
  z-index: 1;
  width: 85px;
  margin-left: -7px;
  right: 10px;
  display: inline-block;
  position: absolute;
  margin-left: 4em;
}

body .navActive #nav {
  opacity: 1;
  z-index: 100;
  top: 0;
  -webkit-animation: navOut 0.5s;
          animation: navOut 0.5s;
}

body .navActive span {
  background-color: rgba(0, 0, 0, 0);
}

body .navActive span div::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  bottom: 9px;
  -webkit-animation: croixOutPlus 0.5s;
          animation: croixOutPlus 0.5s;
  background-color: white;
}

body .navActive span div::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  top: -11px;
  -webkit-animation: croixOutMoins 2s;
          animation: croixOutMoins 2s;
  background-color: white;
}

body .navActive span div {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 2s;
  transition: all 2s;
  border-radius: 20px;
}

body .navBtnActive {
  height: 40px;
  top: 1vh;
}

@media screen and (max-height: 260px) {
  body nav span a {
    top: 2.75px;
    width: 56px;
    height: 33px;
  }
  body nav span div {
    top: 13.8px !important;
  }
}

@-webkit-keyframes navIn {
  from {
    opacity: 1;
    z-index: 10;
    top: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes navIn {
  from {
    opacity: 1;
    z-index: 10;
    top: 0;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes navOut {
  from {
    opacity: 0;
    top: -120vh;
  }
  to {
  }
}

@keyframes navOut {
  from {
    opacity: 0;
    top: -120vh;
  }
  to {
  }
}

@-webkit-keyframes colorIn {
  from {
    color: #dfad0b;
  }
  to {
  }
}

@keyframes colorIn {
  from {
    color: #dfad0b;
  }
  to {
  }
}

@-webkit-keyframes colorOut {
  from {
    color: white;
  }
  to {
  }
}

@keyframes colorOut {
  from {
    color: white;
  }
  to {
  }
}

@-webkit-keyframes croixInNeut {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}

@keyframes croixInNeut {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}

@-webkit-keyframes croixInPlus {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
}

@keyframes croixInPlus {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
}

@-webkit-keyframes croixInMoins {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
}

@keyframes croixInMoins {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
}

@-webkit-keyframes croixOutPlus {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
  }
}

@keyframes croixOutPlus {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
  }
}

@-webkit-keyframes croixOutMoins {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
  }
}

@keyframes croixOutMoins {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: black;
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
  }
}

@-webkit-keyframes menuAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menuAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

hr {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: white;
  border-color: white;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Nunito Bold", sans-serif;
  font-size: 2em;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header {
  padding-top: 5vh;
  background-color: #d95019;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header a {
  padding: 0.75em;
  background-color: #d95019;
  border-radius: 100px;
  margin-bottom: 2em;
  color: white;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

header a:hover {
  background-color: #f05619;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: white;
}

header hr {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: #d95019;
  border-color: #d95019;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div > img {
  padding-right: 3%;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header > div > img:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer {
  min-height: 0 !important;
  padding: 0 !important;
  height: 10% !important;
}

.hide {
  visibility: hidden;
}

.hrInv {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: #d95019;
  border-color: #d95019;
}

.btn {
  padding: 0.75em;
  background-color: #f2f2f2;
  border-radius: 100px;
  margin-bottom: 2em;
  color: #222222;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.btn:hover {
  background-color: #cfcfcf;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #222222;
}

.btnInv {
  padding: 0.75em;
  background-color: #d95019;
  border-radius: 100px;
  margin-bottom: 2em;
  color: #f2f2f2;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.btnInv:hover {
  background-color: #f05619;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #f2f2f2;
}

.none {
  background-color: rgba(0, 0, 0, 0) !important;
}

.none:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d95019;
  padding: 7em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
}

.section1 p {
  color: rgba(242, 242, 242, 0.7) !important;
}

.section1 img {
  max-width: 100VW;
}

.section1 h2 {
  font-family: "Nunito Medium", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  font-weight: 400;
  color: white;
}

.section1 a, .section1 .a {
  padding: 0.75em;
  background-color: #f2f2f2;
  border-radius: 100px;
  margin-bottom: 2em;
  color: #222222;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section1 a:hover, .section1 .a:hover {
  background-color: #cfcfcf;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #222222;
}

.section1 hr {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: white;
  border-color: white;
}

.section1 hr.light {
  margin-top: 3em;
  width: 60%;
  border-bottom-width: 2px;
}

.section1 .colItem {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.section1 .colItem div {
  text-align: start;
}

.section1 .colItem div div {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section1 .colItem div p {
  margin: 0;
}

.section1 .colItem div:first-child {
  width: 29%;
}

.section1 .colItem div:last-child {
  width: 50%;
}

.section1 .colItem div:last-child div {
  margin: 0;
  margin-top: 1em;
}

.section1 .colItem p, .section1 .colItem h4, .section1 .colItem h5 {
  margin: 0em;
  text-align: start;
}

.section1 .colItem h4 {
  font-family: "Nunito Bold";
}

.section1 .colItem h5 {
  font-family: "Nunito Medium";
  max-width: 80%;
  margin-bottom: 0;
}

.section1 .colItem svg {
  width: 5%;
  margin-right: 2vw;
}

.section1 .colItem a {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.section1 .colItem a:hover {
  color: #cfcfcf;
}

@media screen and (max-width: 800px) {
  .section1 .colItem {
    width: 100%;
  }
  .section1 .colItem div {
    margin-left: 0;
  }
  .section1 .colItem div:last-child {
    width: 65%;
  }
  .section1 .colItem h5 {
    max-width: 100%;
  }
}

.section1 .colItem a {
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.section1 .st0 {
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
}

.section1 .horizontal img {
  width: 14%;
  height: 10%;
}

.section1 .horizontal img {
  border-radius: 100%;
}

.section1 .btnLight {
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  margin-bottom: 2em;
  color: #222222;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section1 .btnLight:hover {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #222222;
}

@media screen and (max-width: 800px) {
  .section1 {
    padding: 7em 0;
  }
}

.section1 .star-0 span svg {
  margin-right: 0;
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .star-0 span svg:nth-child(1) {
  fill: white;
}

.section1 .star-0 span svg:nth-child(0) {
  fill: white;
}

.section1 .star-1 span svg {
  margin-right: 0;
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .star-1 span svg:nth-child(1) {
  fill: white;
}

.section1 .star-2 span svg {
  margin-right: 0;
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .star-2 span svg:nth-child(1) {
  fill: white;
}

.section1 .star-2 span svg:nth-child(2) {
  fill: white;
}

.section1 .star-3 span svg {
  margin-right: 0;
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .star-3 span svg:nth-child(1) {
  fill: white;
}

.section1 .star-3 span svg:nth-child(2) {
  fill: white;
}

.section1 .star-3 span svg:nth-child(3) {
  fill: white;
}

.section1 .star-4 span svg {
  margin-right: 0;
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .star-4 span svg:nth-child(1) {
  fill: white;
}

.section1 .star-4 span svg:nth-child(2) {
  fill: white;
}

.section1 .star-4 span svg:nth-child(3) {
  fill: white;
}

.section1 .star-4 span svg:nth-child(4) {
  fill: white;
}

.section1 .star-5 span svg {
  margin-right: 0;
  fill: rgba(242, 242, 242, 0.7);
}

.section1 .star-5 span svg:nth-child(1) {
  fill: white;
}

.section1 .star-5 span svg:nth-child(2) {
  fill: white;
}

.section1 .star-5 span svg:nth-child(3) {
  fill: white;
}

.section1 .star-5 span svg:nth-child(4) {
  fill: white;
}

.section1 .star-5 span svg:nth-child(5) {
  fill: white;
}

.section1 .rightArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section1 .rightArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section1 .rightArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #cfcfcf;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section1 .rightArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #cfcfcf;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  .section1 .rightArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section1 .rightArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section1 .rightArrow::before {
  right: 40px !important;
}

.section1 .rightArrow::after {
  right: 40px !important;
}

.section1 .leftArrow {
  padding-right: 3.5em !important;
}

.section1 .leftArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section1 .leftArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section1 .leftArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #cfcfcf;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section1 .leftArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #cfcfcf;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .section1 .leftArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section1 .leftArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 7em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
}

.section2 p {
  color: #222222 !important;
}

.section2 img {
  max-width: 100VW;
}

.section2 h2 {
  font-family: "Nunito Medium", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  font-weight: 400;
  color: #222222;
}

.section2 a, .section2 .a {
  padding: 0.75em;
  background-color: #f05619;
  border-radius: 100px;
  margin-bottom: 2em;
  color: #f2f2f2;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section2 a:hover, .section2 .a:hover {
  background-color: #d95019;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #f2f2f2;
}

.section2 hr {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: #d95019;
  border-color: #d95019;
}

.section2 hr.light {
  margin-top: 3em;
  width: 60%;
  border-bottom-width: 2px;
}

.section2 .colItem {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.section2 .colItem div {
  text-align: start;
}

.section2 .colItem div div {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section2 .colItem div p {
  margin: 0;
}

.section2 .colItem div:first-child {
  width: 29%;
}

.section2 .colItem div:last-child {
  width: 50%;
}

.section2 .colItem div:last-child div {
  margin: 0;
  margin-top: 1em;
}

.section2 .colItem p, .section2 .colItem h4, .section2 .colItem h5 {
  margin: 0em;
  text-align: start;
}

.section2 .colItem h4 {
  font-family: "Nunito Bold";
}

.section2 .colItem h5 {
  font-family: "Nunito Medium";
  max-width: 80%;
  margin-bottom: 0;
}

.section2 .colItem svg {
  width: 5%;
  margin-right: 2vw;
}

.section2 .colItem a {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.section2 .colItem a:hover {
  color: #d95019;
}

@media screen and (max-width: 800px) {
  .section2 .colItem {
    width: 100%;
  }
  .section2 .colItem div {
    margin-left: 0;
  }
  .section2 .colItem div:last-child {
    width: 65%;
  }
  .section2 .colItem h5 {
    max-width: 100%;
  }
}

.section2 .colItem a {
  color: #222222;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.section2 .st0 {
  fill: #222222;
}

.section2 .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
}

.section2 .horizontal img {
  width: 14%;
  height: 10%;
}

.section2 .horizontal img {
  border-radius: 100%;
}

.section2 .btnLight {
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  margin-bottom: 2em;
  color: #f2f2f2;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section2 .btnLight:hover {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .section2 {
    padding: 7em 0;
  }
}

.section2 .star-0 span svg {
  margin-right: 0;
  fill: #222222;
}

.section2 .star-0 span svg:nth-child(1) {
  fill: #222222;
}

.section2 .star-0 span svg:nth-child(0) {
  fill: #222222;
}

.section2 .star-1 span svg {
  margin-right: 0;
  fill: #222222;
}

.section2 .star-1 span svg:nth-child(1) {
  fill: #222222;
}

.section2 .star-2 span svg {
  margin-right: 0;
  fill: #222222;
}

.section2 .star-2 span svg:nth-child(1) {
  fill: #222222;
}

.section2 .star-2 span svg:nth-child(2) {
  fill: #222222;
}

.section2 .star-3 span svg {
  margin-right: 0;
  fill: #222222;
}

.section2 .star-3 span svg:nth-child(1) {
  fill: #222222;
}

.section2 .star-3 span svg:nth-child(2) {
  fill: #222222;
}

.section2 .star-3 span svg:nth-child(3) {
  fill: #222222;
}

.section2 .star-4 span svg {
  margin-right: 0;
  fill: #222222;
}

.section2 .star-4 span svg:nth-child(1) {
  fill: #222222;
}

.section2 .star-4 span svg:nth-child(2) {
  fill: #222222;
}

.section2 .star-4 span svg:nth-child(3) {
  fill: #222222;
}

.section2 .star-4 span svg:nth-child(4) {
  fill: #222222;
}

.section2 .star-5 span svg {
  margin-right: 0;
  fill: #222222;
}

.section2 .star-5 span svg:nth-child(1) {
  fill: #222222;
}

.section2 .star-5 span svg:nth-child(2) {
  fill: #222222;
}

.section2 .star-5 span svg:nth-child(3) {
  fill: #222222;
}

.section2 .star-5 span svg:nth-child(4) {
  fill: #222222;
}

.section2 .star-5 span svg:nth-child(5) {
  fill: #222222;
}

.section2 .rightArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section2 .rightArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section2 .rightArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #d95019;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section2 .rightArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #d95019;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  .section2 .rightArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section2 .rightArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section2 .rightArrow::before {
  right: 40px !important;
}

.section2 .rightArrow::after {
  right: 40px !important;
}

.section2 .leftArrow {
  padding-right: 3.5em !important;
}

.section2 .leftArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section2 .leftArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section2 .leftArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #d95019;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section2 .leftArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #d95019;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .section2 .leftArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section2 .leftArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  padding: 7em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
}

.section3 p {
  color: #f2f2f2 !important;
}

.section3 img {
  max-width: 100VW;
}

.section3 h2 {
  font-family: "Nunito Medium", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  font-weight: 400;
  color: white;
}

.section3 a, .section3 .a {
  padding: 0.75em;
  background-color: #f2f2f2;
  border-radius: 100px;
  margin-bottom: 2em;
  color: #222222;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section3 a:hover, .section3 .a:hover {
  background-color: #cfcfcf;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #222222;
}

.section3 hr {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: white;
  border-color: white;
}

.section3 hr.light {
  margin-top: 3em;
  width: 60%;
  border-bottom-width: 2px;
}

.section3 .colItem {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.section3 .colItem div {
  text-align: start;
}

.section3 .colItem div div {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section3 .colItem div p {
  margin: 0;
}

.section3 .colItem div:first-child {
  width: 29%;
}

.section3 .colItem div:last-child {
  width: 50%;
}

.section3 .colItem div:last-child div {
  margin: 0;
  margin-top: 1em;
}

.section3 .colItem p, .section3 .colItem h4, .section3 .colItem h5 {
  margin: 0em;
  text-align: start;
}

.section3 .colItem h4 {
  font-family: "Nunito Bold";
}

.section3 .colItem h5 {
  font-family: "Nunito Medium";
  max-width: 80%;
  margin-bottom: 0;
}

.section3 .colItem svg {
  width: 5%;
  margin-right: 2vw;
}

.section3 .colItem a {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.section3 .colItem a:hover {
  color: #cfcfcf;
}

@media screen and (max-width: 800px) {
  .section3 .colItem {
    width: 100%;
  }
  .section3 .colItem div {
    margin-left: 0;
  }
  .section3 .colItem div:last-child {
    width: 65%;
  }
  .section3 .colItem h5 {
    max-width: 100%;
  }
}

.section3 .colItem a {
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.section3 .st0 {
  fill: #f2f2f2;
}

.section3 .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
}

.section3 .horizontal img {
  width: 14%;
  height: 10%;
}

.section3 .horizontal img {
  border-radius: 100%;
}

.section3 .btnLight {
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  margin-bottom: 2em;
  color: #222222;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section3 .btnLight:hover {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #222222;
}

@media screen and (max-width: 800px) {
  .section3 {
    padding: 7em 0;
  }
}

.section3 .star-0 span svg {
  margin-right: 0;
  fill: #f2f2f2;
}

.section3 .star-0 span svg:nth-child(1) {
  fill: white;
}

.section3 .star-0 span svg:nth-child(0) {
  fill: white;
}

.section3 .star-1 span svg {
  margin-right: 0;
  fill: #f2f2f2;
}

.section3 .star-1 span svg:nth-child(1) {
  fill: white;
}

.section3 .star-2 span svg {
  margin-right: 0;
  fill: #f2f2f2;
}

.section3 .star-2 span svg:nth-child(1) {
  fill: white;
}

.section3 .star-2 span svg:nth-child(2) {
  fill: white;
}

.section3 .star-3 span svg {
  margin-right: 0;
  fill: #f2f2f2;
}

.section3 .star-3 span svg:nth-child(1) {
  fill: white;
}

.section3 .star-3 span svg:nth-child(2) {
  fill: white;
}

.section3 .star-3 span svg:nth-child(3) {
  fill: white;
}

.section3 .star-4 span svg {
  margin-right: 0;
  fill: #f2f2f2;
}

.section3 .star-4 span svg:nth-child(1) {
  fill: white;
}

.section3 .star-4 span svg:nth-child(2) {
  fill: white;
}

.section3 .star-4 span svg:nth-child(3) {
  fill: white;
}

.section3 .star-4 span svg:nth-child(4) {
  fill: white;
}

.section3 .star-5 span svg {
  margin-right: 0;
  fill: #f2f2f2;
}

.section3 .star-5 span svg:nth-child(1) {
  fill: white;
}

.section3 .star-5 span svg:nth-child(2) {
  fill: white;
}

.section3 .star-5 span svg:nth-child(3) {
  fill: white;
}

.section3 .star-5 span svg:nth-child(4) {
  fill: white;
}

.section3 .star-5 span svg:nth-child(5) {
  fill: white;
}

.section3 .rightArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section3 .rightArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section3 .rightArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #f2f2f2;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section3 .rightArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #f2f2f2;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  .section3 .rightArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section3 .rightArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section3 .rightArrow::before {
  right: 40px !important;
}

.section3 .rightArrow::after {
  right: 40px !important;
}

.section3 .leftArrow {
  padding-right: 3.5em !important;
}

.section3 .leftArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section3 .leftArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section3 .leftArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #f2f2f2;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section3 .leftArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #f2f2f2;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .section3 .leftArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section3 .leftArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 7em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
}

.section4 p {
  color: rgba(34, 34, 34, 0.7) !important;
}

.section4 img {
  max-width: 100VW;
}

.section4 h2 {
  font-family: "Nunito Medium", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  font-weight: 400;
  color: #222222;
}

.section4 a, .section4 .a {
  padding: 0.75em;
  background-color: #d95019;
  border-radius: 100px;
  margin-bottom: 2em;
  color: #f2f2f2;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section4 a:hover, .section4 .a:hover {
  background-color: #f05619;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #f2f2f2;
}

.section4 hr {
  border-top-width: 0;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-right-width: 0;
  width: 20%;
  color: #d95019;
  border-color: #d95019;
}

.section4 hr.light {
  margin-top: 3em;
  width: 60%;
  border-bottom-width: 2px;
}

.section4 .colItem {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.section4 .colItem div {
  text-align: start;
}

.section4 .colItem div div {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section4 .colItem div p {
  margin: 0;
}

.section4 .colItem div:first-child {
  width: 29%;
}

.section4 .colItem div:last-child {
  width: 50%;
}

.section4 .colItem div:last-child div {
  margin: 0;
  margin-top: 1em;
}

.section4 .colItem p, .section4 .colItem h4, .section4 .colItem h5 {
  margin: 0em;
  text-align: start;
}

.section4 .colItem h4 {
  font-family: "Nunito Bold";
}

.section4 .colItem h5 {
  font-family: "Nunito Medium";
  max-width: 80%;
  margin-bottom: 0;
}

.section4 .colItem svg {
  width: 5%;
  margin-right: 2vw;
}

.section4 .colItem a {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.section4 .colItem a:hover {
  color: #f05619;
}

@media screen and (max-width: 800px) {
  .section4 .colItem {
    width: 100%;
  }
  .section4 .colItem div {
    margin-left: 0;
  }
  .section4 .colItem div:last-child {
    width: 65%;
  }
  .section4 .colItem h5 {
    max-width: 100%;
  }
}

.section4 .colItem a {
  color: #222222;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.section4 .st0 {
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
}

.section4 .horizontal img {
  width: 14%;
  height: 10%;
}

.section4 .horizontal img {
  border-radius: 100%;
}

.section4 .btnLight {
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  margin-bottom: 2em;
  color: #f2f2f2;
  font-weight: 800;
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-family: "Nunito Medium", sans-serif;
  font-size: 1em;
}

.section4 .btnLight:hover {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: background-color 1.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 1.5s;
  transition: transform 0.5s, background-color 1.5s, -webkit-transform 0.5s;
  color: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .section4 {
    padding: 7em 0;
  }
}

.section4 .star-0 span svg {
  margin-right: 0;
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .star-0 span svg:nth-child(1) {
  fill: #222222;
}

.section4 .star-0 span svg:nth-child(0) {
  fill: #222222;
}

.section4 .star-1 span svg {
  margin-right: 0;
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .star-1 span svg:nth-child(1) {
  fill: #222222;
}

.section4 .star-2 span svg {
  margin-right: 0;
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .star-2 span svg:nth-child(1) {
  fill: #222222;
}

.section4 .star-2 span svg:nth-child(2) {
  fill: #222222;
}

.section4 .star-3 span svg {
  margin-right: 0;
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .star-3 span svg:nth-child(1) {
  fill: #222222;
}

.section4 .star-3 span svg:nth-child(2) {
  fill: #222222;
}

.section4 .star-3 span svg:nth-child(3) {
  fill: #222222;
}

.section4 .star-4 span svg {
  margin-right: 0;
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .star-4 span svg:nth-child(1) {
  fill: #222222;
}

.section4 .star-4 span svg:nth-child(2) {
  fill: #222222;
}

.section4 .star-4 span svg:nth-child(3) {
  fill: #222222;
}

.section4 .star-4 span svg:nth-child(4) {
  fill: #222222;
}

.section4 .star-5 span svg {
  margin-right: 0;
  fill: rgba(34, 34, 34, 0.7);
}

.section4 .star-5 span svg:nth-child(1) {
  fill: #222222;
}

.section4 .star-5 span svg:nth-child(2) {
  fill: #222222;
}

.section4 .star-5 span svg:nth-child(3) {
  fill: #222222;
}

.section4 .star-5 span svg:nth-child(4) {
  fill: #222222;
}

.section4 .star-5 span svg:nth-child(5) {
  fill: #222222;
}

.section4 .rightArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section4 .rightArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section4 .rightArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #222222;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section4 .rightArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #222222;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  .section4 .rightArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section4 .rightArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

.section4 .rightArrow::before {
  right: 40px !important;
}

.section4 .rightArrow::after {
  right: 40px !important;
}

.section4 .leftArrow {
  padding-right: 3.5em !important;
}

.section4 .leftArrow {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 50px;
  width: 10px;
  height: 40px;
  margin: 0 !important;
  padding-top: 3em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.section4 .leftArrow:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.section4 .leftArrow::after {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #222222;
  top: 13px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section4 .leftArrow::before {
  content: "";
  position: relative;
  border-radius: 50px;
  display: block;
  height: 15px;
  width: 80px;
  background-color: #222222;
  top: -18px;
  right: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .section4 .leftArrow {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .section4 .leftArrow:hover {
    -webkit-transform: scale(0.75) !important;
            transform: scale(0.75) !important;
  }
}

#contact form {
  width: 50%;
}

#contact form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 2em;
}

#contact form div input, #contact form div textarea {
  margin-bottom: 2em;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Nunito Light";
  font-size: 15px;
}

.loading {
  position: fixed;
  top: 40vh;
  left: 40vw;
  height: 10vh;
  width: 20vw;
  background-color: rgba(34, 34, 34, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 300px;
}

.loading > span {
  z-index: 100;
  background-color: white;
  height: 25px;
  width: 25px;
  margin: 5px;
  border-radius: 100%;
  display: block;
}

.loading > span:first-child {
  -webkit-animation: loading 1s 0s;
          animation: loading 1s 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.loading > span:nth-child(2) {
  -webkit-animation: loading 1s .5s;
          animation: loading 1s .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.loading > span:last-child {
  -webkit-animation: loading 1s 1s;
          animation: loading 1s 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loading {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.portFolio {
  font-family: "Nunito Light";
}

.portFolio .menuPortFolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portFolio .menuPortFolio a {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
}

.portFolio .portFolioContainer {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portFolio .portFolioContainer div {
  width: 19rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 225px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portFolio .portFolioContainer div div img.case {
  -ms-flex-item-align: center;
      align-self: center;
  max-height: 225px;
  max-width: 17rem;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portFolio .portFolioContainer div div.case {
  z-index: 1;
  opacity: 0;
  margin: 0;
  background-color: rgba(240, 95, 64, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portFolio .portFolioContainer div div.case h6 {
  margin: 0;
  text-transform: uppercase;
}

.portFolio .portFolioContainer div div.case h4 {
  text-transform: capitalize;
  margin: 0;
}

.portFolio .portFolioContainer div:hover div {
  opacity: 1 !important;
  -webkit-transition: all;
  transition: all;
  pointer-events: painted;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hidden {
  -webkit-animation: disappear 0.5s;
          animation: disappear 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.hidden div {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.hidden img {
  opacity: 0;
}

.activeBtn {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #EB5235 !important;
}

@-webkit-keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    display: none !important;
  }
}

@keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    display: none !important;
  }
}

#portfolioSpan {
  opacity: 1;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.725);
  overflow: hidden !important;
}

#portfolioSpan h1 {
  color: #F05F40;
  margin: 0;
}

#portfolioSpan img {
  height: 30vh;
  margin: 0;
  border-radius: 15px;
}

#portfolioSpan p {
  margin: 1em;
  color: black !important;
}

#portfolioSpan a {
  background-color: #F05F40;
}

#portfolioSpan a:hover {
  background-color: #ed431f;
}

#portfolioSpan > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

#portfolioSpan > div > div {
  max-height: 80vh;
  max-width: 90%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  border-radius: 8px;
}

#portfolioSpan > div > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 1em;
}

#portfolioSpan > div > div div:first-child {
  margin-right: 1em;
}

#portfolioSpan > div > div div:last-child {
  margin-left: 1em;
}

#jsDeactivated .jsWarning {
  display: initial !important;
  color: white;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  padding: 2%;
  position: fixed;
  z-index: 10;
  -webkit-animation: jsWarn 0.5s 5s;
          animation: jsWarn 0.5s 5s;
}

#jsDeactivated .jsWarning p {
  margin: 0;
}

#jsDeactivated .jsWarning h2 {
  margin: 0;
  font-family: "Nunito Medium";
}

#jsDeactivated .portFolio .menuPortFolio {
  display: none !important;
}

#jsDeactivated .portFolio .portFolioContainer {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#jsDeactivated .portFolio .portFolioContainer > div {
  position: relative !important;
}

#jsDeactivated .portFolio .portFolioContainer div {
  z-index: 0;
}

#jsDeactivated .slides {
  height: inherit;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#jsDeactivated .slides > img {
  -ms-grid-column-align: normal;
      justify-self: normal;
  -ms-flex-item-align: revert;
      -ms-grid-row-align: revert;
      align-self: revert;
}

#jsDeactivated .slides > div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
  visibility: initial;
  width: 90%;
  height: 30vh;
  min-height: 400px;
  margin-top: 10%;
}

#jsDeactivated .slides .active {
  z-index: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#jsDeactivated .rightArrow,
#jsDeactivated .leftArrow {
  display: none !important;
}

#jsDeactivated nav .nav {
  position: fixed;
  top: 0;
  left: 90vw;
  z-index: 1;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.92);
  opacity: 1;
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#jsDeactivated nav .nav:hover {
  top: 0;
  left: 50vw;
  background-color: rgba(0, 0, 0, 0.8);
}

#jsDeactivated nav #navigationButton {
  pointer-events: none;
}

#jsDeactivated nav > span > div {
  display: none;
}

@media screen and (max-width: 950px) {
  #jsDeactivated .portFolio .portFolioContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #jsDeactivated .slides {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 630px) {
  #jsDeactivated .portFolio .portFolioContainer {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #jsDeactivated .slides {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@-webkit-keyframes jsWarn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jsWarn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */