@font-face { 	font-family: "Nunito Light"; font-display: swap;	src: url('../font/Nunito/Nunito-Light.ttf?v=1.4.57'); }
@font-face { 	font-family: "Nunito Medium"; font-display: swap;	src: url('../font/Nunito/Nunito-Regular.ttf'); }
@font-face { 	font-family: "Nunito Bold";   font-display: swap;	src: url('../font/Nunito/Nunito-Bold.ttf'); }

//-----------------------------Variables-------------------

@import './_var';

//-----------------------------Importation de fct----------

@import './__header';
@import './_btn';
@import './_text';
@import './_section';
@import './_menu';
@import './_slide';
//--------------------------------Balises---------------------
html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    @include p($p_color,$p_font,$p_size_font,$p_margin_bottom,$p_max_width);//-> car il y a l'inclusion de mediaqueries
    @include menu($menu_bg_color,$navbar_bg_color,$nav_title_color,$a_color,$Croix_bg_color_quit,$Croix_bg_color,$secondary_a_color);
}
a{
    text-decoration: none;
}
hr{
    @include hr($hr_color);
}

h1{
    @include h1($h1_font,$h1_size_font)
}

header{
    @include header($Header_bg_color,$Header_color);
}
footer{
    min-height: 0!important;
    padding : 0!important;
    height: 10%!important;
}

//--------------------------------Classes---------------------
.hide{
    visibility: hidden;
}
.hrInv{
    @include hr($hr_color_Inv);
}
.btn{
    @include btn($Btn-bg-color,$Btn-bg-hover-color,$Btn-color);
}
.btnInv{
    @include btn($Btn-bg-color-inv,$Btn-bg-hover-color-inv,$Btn-color-inv);
}
.none{
    background-color : rgba(0,0,0,0)!important;
    &:hover{
        background-color : rgba(0,0,0,0)!important;
    }
}

.section1{
    @include section($section1_Var1,$section1_Var2,$section1_Var3,$section1_Var4,$section1_Var5,$section1_Var6,$section1_Var7);
    .rightArrow{
        @include Arrow("right",$section1_varR);
        &::before{
            right : 40px!important
        }
        &::after{
            right : 40px!important;
        }
    }
    .leftArrow{
        @include Arrow("left",$section1_varL);
        padding-right : 3.5em!important;
    }
}
.section2{
    @include section($section2_Var1,$section2_Var2,$section2_Var3,$section2_Var4,$section2_Var5,$section2_Var6,$section2_Var7);
    .rightArrow{
        @include Arrow("right",$section2_varR);
        &::before{
            right : 40px!important
        }
        &::after{
            right : 40px!important;
        }
    }
    .leftArrow{
        @include Arrow("left",$section2_varL);
        padding-right : 3.5em!important;
    }
}
.section3{
    @include section($section3_Var1,$section3_Var2,$section3_Var3,$section3_Var4,$section3_Var5,$section3_Var6,$section3_Var7);
    .rightArrow{
        @include Arrow("right",$section3_varR);
        &::before{
            right : 40px!important
        }
        &::after{
            right : 40px!important;
        }
    }
    .leftArrow{
        @include Arrow("left",$section3_varL);
        padding-right : 3.5em!important;
    }
}
.section4{
    @include section($section4_Var1,$section4_Var2,$section4_Var3,$section4_Var4,$section4_Var5,$section4_Var6,$section4_Var7);
    .rightArrow{
        @include Arrow("right",$section4_varR);
        &::before{
            right : 40px!important
        }
        &::after{
            right : 40px!important;
        }
    }
    .leftArrow{
        @include Arrow("left",$section4_varL);
        padding-right : 3.5em!important;
    }
}
//TODO mettre le bout de code dans un fichier scss
#contact{
    form{
        width : 50%;
        div{
            display : flex;
            flex-direction : column;
            align-content: space-around;
            margin-top : 2em;
            input,textarea{
                margin-bottom : 2em;
                border-top: none;
                border-left: none;
                border-right: none;
                font-family: "Nunito Light";
                font-size : 15px;
            }
        }
    }
}
//TODO mettre le code dans importation de fct, puis utiliser la fct, une fois le to do interne effectue
@import './_loading';

//-------------------------------Section Portfoilio / slide--------------


@import './_sectionPortFolio';

//-------------------------------Compatibility without JavaScript----------------------
#jsDeactivated{ //A js script will make disappear this id in the HTML code, and if the js is not activated, the rules will be applied
    @import '__jsCompatibility'; //always import it in last
}

